*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  width: 100%;
}

.container {
  background-color: #dadada;
  margin: 10px auto;
  width: 40%;
  height: auto;
}

.preview {
  position: relative;
  margin: 1% 0;
  width: 100%;
  float: left;
}

h2 {
  position: absolute;
  top: 35px;
  left: 25px;
  float: left;
}

@media screen and (min-width: 575px) {
  .preview {
    margin: 1%;
    width: 48%;
  }
}

h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  margin-bottom: 2%;
  padding: 20px 15px 15px 15px;
  text-align: center;
  border: 1px solid #000;
}

h2 {
  font-size: 2em;
  text-transform: capitalize;
  font-family: serif;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}
