*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

.container {
  background-color: #dadada;
  margin: 5% 20%;
  width: 80%;
  height: auto;
  border: 1px solid #000;
}

.preview {
  margin: 1% 0;
  width: 100%;
  height: auto;
  float: left;
}

.container, .preview {
  display: inline-block;
}

.preview, h2 {
  padding-top: 3%;
  padding-bottom: 25%;
  padding-left: 3%;
  padding-right: 3%;
}

.baku {
  background-image: url(../images/baku.jpg);
  background-size: cover;
}

.london {
  background-image: url(../images/london.png);
  background-size: cover;
}

.madrid {
  background-image: url(../images/madrid.jpg);
  background-size: cover;
}

.rome {
  background-image: url(../images/rome.jpg);
  background-size: cover;
}


@media screen and (min-width: 575px) {
  .preview {
    width: 40%;
    margin-left: 8.5%;
    margin-right: -6%;
    padding-bottom: 12%;
  }
  .container {
    width: 85%;
    padding-bottom: 30%;
  }
}

@media screen and (min-width: 991px) {
  .preview {
    width: 20%;
    margin-left: 8%;
    margin-right: -7%;
    padding-bottom: 10%;
  }
}

h1 {
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.4em;
  margin-bottom: 0;
  padding: 24px 0 15px 0;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  text-transform: capitalize;
  font-family: serif;
}
